.about {
  min-height: calc(100vh - 80px);
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.textCard {
  flex: 1 1 50%;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid rgba(230, 0, 255, 0.3);
  box-shadow: 0 0 15px rgba(230, 0, 255, 0.2);
  animation: fadeInLeft 0.8s ease-out forwards;
}

.sectionTitle {
  font-weight: 600;
  color: var(--neon-purple);
  margin-bottom: .5rem;
}

.textContainer {
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}

.gallery {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 0.75rem;
  overflow: hidden;
  border: 2px solid rgba(230, 0, 255, 0.3);
  box-shadow: 0 0 15px rgba(230, 0, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageCaption {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-secondary);
  font-style: italic;
}

.ctaBtns {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.viewProjectsBtn {
  background-color: var(--neon-purple);
  color: #f0f0f0;
  margin-top: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.viewProjectsBtn:hover {
  background-color: var(--accent-bolder);
  color: var(--neon-purple);
  transform: translateY(-2px);
}

.viewFoundationBtn {
  background-color: var(--neon-purple);
  color: #f0f0f0;
  margin-top: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.viewFoundationBtn:hover {
  color: var(--neon-purple);
  background-color: var(--accent-bolder);
  transform: translateY(-2px);
}


.imageWrapper:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(230, 0, 255, 0.5);
}

.galleryImage {
  object-fit: cover;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }

  .textCard,
  .gallery {
    flex: 1 1 100%;
  }
}