@import "tailwindcss";

:root {
  --neon-purple: rgb(255, 0, 255);
  --darkgrey-bg: #121212f8;

  --color-bg-accent: #3B3B3B;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #B3B3B3;
  --color-accent: #8B5CF6;
  --color-accent-light: #C084FC;
}

body {
  height: 100vh;
  background: var(--darkgrey-bg);
  font-family: Arial, Helvetica, sans-serif;
}
