.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    text-align: center;
    color: var(--neon-purple);
    text-shadow: 0 0 15px rgb(255, 0, 255); /* Subtle text glow */
}